### The Python Programming Language: Functions

In [1]:
x = 1
y = 2
x + y

3

In [2]:
x

1

In [3]:
def add_numbers(x, y):
    return x + y
add_numbers(1, 2)

3

In [4]:
def add_numbers(x, y, z = None):
    if(z == None):
        return x + y
    else:
        return x + y + z
print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

In [5]:
def add_numbers(x, y, z = None, flag = False):
    if(flag):
        print('Flag is true!')
    if(z == None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag = True))

Flag is true!
3

### The Python Programming Language: Types and Sequences

In [6]:
type('This is a string')

str

In [7]:
type(None)

NoneType

In [8]:
type(1)

int

In [9]:
type(1.0)

float

In [10]:
type(add_numbers)

function

In [11]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [12]:
x = [1, 'a', 2, 'b']
type(x)

list

In [13]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [14]:
for item in x:
    print(item)

1
a
2
b
3.3

In [15]:
i = 0
while(i != len(x)):
    print(x[i])
    i += 1

1
a
2
b
3.3

In [16]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [17]:
[1] * 3

[1, 1, 1]

In [18]:
1 in [1, 2, 3]

True

In [19]:
x = 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [20]:
x[-1]

'g'

In [21]:
x[-4:-2]

'ri'

In [22]:
x[:3]

'Thi'

In [23]:
x[3:]

's is a string'

In [24]:
firstname = 'Christopher'
lastname = 'Brooks'
print(firstname + ' ' + lastname)
print(firstname * 3)
print('Chris' in  firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [25]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0]
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1]
print(firstname)
print(lastname)

Christopher
Brooks

In [26]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']

'brooksch@umich.edu'

In [27]:
x['Kevyn Collins-Thompson']= None
x['Kevyn Collins-Thompson']

In [28]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

In [29]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

In [30]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

In [34]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [35]:
fname

'Christopher'

In [36]:
lname

'Brooks'

In [ ]:
x = ('Christopher', 'Brooks', )